# Env
.env
.env.*
!.env.template

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# IntelliJ
/.idea

# Build
/dist

# Tests
/tests/coverage